@import "../../styles/variables";
@import "../../styles/colors";

.filterForm {
  .footer {
    display: flex;
    gap: $gutter-small;
  }
  .button {
    border-radius: $borderRadius;
    padding: $gutter-small $gutter-medium;
    border: none;
  }
  .submit {
    background-color: $primaryButton-bg-color;
    color: $primaryButton-font-color;
  }
  .reset {
    background-color: $secondaryButton-bg-color;
    color: $secondaryButton-font-color;
    margin-left: auto;
  }
}

.filterGroup {
  padding: $gutter-small;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: $gutter-small;
  max-height: 15rem;
  overflow: hidden scroll;
  margin: $gutter-medium 0;

  input[type="checkbox"] {
    display: none;

    + label {
      background-color: $secondaryButton-bg-color;
      color: $secondaryButton-font-color;
      padding: $gutter-small;
      border-radius: $borderRadius;
    }

    &:checked + label {
      background-color: $primaryButton-bg-color;
      color: $primaryButton-font-color;
    }
  }
}
