@import "../../styles/variables";
@import "../../styles/colors";

.filterForm {
    .footer {
        display: flex;
        gap: $gutter-small;
        padding-top: $gutter-small;
    }
    .button {
        border-radius: $borderRadius;
        padding: $gutter-small $gutter-medium;
        border: none;
    }
    .submit {
        background-color: #000;
        color: #fff;
    }
    .reset {
        margin-left: auto;
    }
}

.filterGroup {
    padding: $gutter-small;
    display: flex;
    flex-wrap: wrap;
    gap: $gutter-small;
    max-height: 15rem;
    overflow: hidden scroll;
  
    label {
      background-color: $secondary-bg-color;
      color: $secondary-font-color;
      padding: $gutter-small;
      border-radius: $borderRadius;
    }
  
    input[type="checkbox"] {
      display: none;
  
      &:checked + label {
        background-color: $primary-bg-color;
        color: $primary-font-color;
      }
    }
  }