@import "../../styles/variables";
@import "../../styles/colors";

.multiselectFilter {
  padding: $gutter-small;
  display: flex;
  flex-wrap: wrap;
  gap: $gutter-small;

  .choice {
    background-color: $secondary-bg-color;
    color: $secondary-font-color;
    padding: $gutter-small;
    border-radius: $borderRadius;
  }

  input[type="checkbox"] {
    display: none;

    &:checked + .choice {
      background-color: $primary-bg-color;
      color: $primary-font-color;
    }
  }
}
