@import "/src/styles/variables";

.productList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: $gutter-medium;

  @media only screen and (max-width: 800px) {
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  }
}

.noResults {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: $gutter-small;
  padding: $gutter-medium;

  .icon {
    font-size: $fontSize-large;
  }
}