$hover-color: rgba(
  $color: #000000,
  $alpha: 0.1,
);
$primary-bg-color: #000;
$secondary-bg-color: rgba(
  $color: #000000,
  $alpha: 0.3,
);
$primary-font-color: #fff;
$secondary-font-color: #000;
