$hover-color: rgba(
  $color: #000000,
  $alpha: 0.1,
);
$primaryButton-bg-color: #000;
$secondaryButton-bg-color: rgba(
  $color: #000000,
  $alpha: 0.3,
);
$primaryButton-font-color: #fff;
$secondaryButton-font-color: #000;
$bg-color: #fff;
$font-color: #000;