.main {
  padding: 20px;

  .toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .heading {
      font-size: 1.8rem;
    }

    .filter {
      display: flex;
      align-items: center;
      gap: .8rem;
      padding: 0.8rem;
      border-radius: 4px;

      &:hover {
        background-color: rgba($color: #000000, $alpha: .1);
      }

      .icon {
        font-size: 1.8rem;
      }
    }
  }
}
