@import "/src/styles/variables";

.main {
  padding: $gutter-large;

  .toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .heading {
      font-size: $fontSize-medium;
    }

    .filter {
      display: flex;
      align-items: center;
      gap: $gutter-small;
      padding: $gutter-small;
      border-radius: $borderRadius;

      &:hover {
        background-color: rgba($color: #000000, $alpha: 0.1);
      }

      .icon {
        font-size: $fontSize-medium;
      }
    }
  }
}

.close {
  font-size: $fontSize-large;

  &:hover {
    background-color: rgba($color: #000000, $alpha: 0.1);
  }
}
