@import "/src/styles/variables";
@import "/src/styles/colors";

.main {
  padding: $gutter-large;

  .toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .heading {
      font-size: $fontSize-medium;
    }

    .filter {
      display: flex;
      align-items: center;
      gap: $gutter-small;
      padding: $gutter-small;
      border-radius: $borderRadius;

      &:hover {
        background-color: $hover-color;
      }

      .icon {
        font-size: $fontSize-medium;
      }
    }
  }
}

.close {
  font-size: $fontSize-large;
  padding: $gutter-small;
  border-radius: $borderRadius;
  display: flex;
  align-items: center;

  &:hover {
    background-color: $hover-color;
  }
}
