.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  color: #fff;

  .logo {
    width: 16rem;
    height: auto;

    @media only screen and (max-width: 800px) {
      width: 14rem;
    }
  }

  .actions {
    color: #000;

    .action {
      cursor: pointer;
      font-size: 2.5rem;
    }
  }
}
