@import "/src/styles/variables";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $gutter-small $gutter-medium;
  border-bottom: $border;

  .logo {
    width: 16rem;
    height: auto;

    @media only screen and (max-width: 800px) {
      width: 14rem;
    }
  }

  .actions {
    .action {
      cursor: pointer;
      font-size: $fontSize-large;
    }
  }
}
