@import "/src/styles/variables";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $gutter-small $gutter-medium;
  color: #fff;
  border-bottom: 1px solid rgb(204, 204, 204);

  .logo {
    width: 16rem;
    height: auto;

    @media only screen and (max-width: 800px) {
      width: 14rem;
    }
  }

  .actions {
    color: #000;

    .action {
      cursor: pointer;
      font-size: $fontSize-large;
    }
  }
}
