.productInfo {
  .thumbnail {
    height: 20rem;

    img {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
    }
  }

  .info {
    padding-top: 1rem;

    .name {
      font-weight: 700;
      font-size: 1.4rem;
    }
  }

  &:hover {
    .name {
      text-decoration: underline;
    }
  }
}
